*	{
	box-sizing: border-box;
}

h1	{
	padding: 10px;
}

button	{
	margin: 10px;
}

li	{
	border-bottom: 1px solid white;
	font-size: 1.1em;
}

p > a	{
	color: black;
}

h2#top	{
	margin-bottom: 30px;
}

div#collapsibleNavbar	{
	background-color: teal;
}

nav.navbar	{
	padding:0;
}

.sizes	{
	background-color: teal;
	color: white;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}